.main-part {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
}

.about-text {
    font-size: 16px;
}

.checkbox-group {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkbox-input {
    margin-left: 22px;
}

.main-title {
    font-size: 26px;
}

.status-text {
    font-size: 20px;
    margin: 20px;
}

.result-block {
    margin: 20px;
}

#result_title {
    font-size: 18px;
}

.result-text {
    border: 1px solid black;
    margin-top: 8px;
    padding: 10px;
    white-space: pre-wrap;
    font-family: Consolas, monaco, monospace;
    font-size: 15px;
}

#save_file_button {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    min-width: 200px; 
}

.global-errors {
    color: red;
    font-size: 26px;
}